# Excluir carpeta docs y su contenido
docs/
docs/*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Entornos virtuales
venv/
ENV/
env/
.env/

# IDEs y editores
.idea/
.vscode/
*.swp
*.swo
*~

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos a ignorar
config.json
documentos_sin_imagenes.txt
index_indice.json
